{% extends "base.html" %}
{% block content %}

<section class="page-section">
  <h1>Carbon Footprint Calculator</h1>

<img src="\static\images\carbon_footprint.jpg", class = "banner_img">


  <form method="POST" class="energy-form">
    <select name="activity" required>
      <option value="electricity">Electricity (kWh)</option>
      <option value="car">Car Travel (km)</option>
      <option value="flight">Flight (km)</option>
    </select>

    <input type="number" step="0.1" name="amount" placeholder="Amount used" required>

    <button type="submit">Calculate CO₂</button>
  </form>
</section>

{% endblock %}
