{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<section class="hero"> 
  <div class="hero-text"> 
    <h1>Welcome to Rolsa Technologies</h1> 
    <p>Green today, greener tomorrow</p> 
    <a href="{{ url_for('booking') }}" class="hero-btn">Get Started</a>
  </div> 
  <div class="hero-image"> 
      <img src="{{ url_for('static', filename='images/Energy-efficiency-in-buildings.jpeg') }}" alt="Green Energy"> </div> 
      <!-- Particle Animation --> 
  <div class="particles"> {% for i in range(30) %}
         <span class="particle" style="--i: {{ i }};"></span> {% endfor %}
  </div> 
</section>

<!-- About Section -->
<section class="about">
    <div class="text_box">
        <p>
            At Rolsa Technologies, we innovate for a sustainable future. Our solutions harness the power of solar, wind, and smart energy systems to Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo error assumenda eveniet, voluptas vero earum quam tempora! Dicta aperiam ullam temporibus odit. Distinctio maxime nisi facilis quas corporis repellat, obcaecati voluptate sed voluptatibus eius ipsam, sequi, mollitia cupiditate. Harum enim quia adipisci dolore culpa quas officiis maxime, eum labore est illum deleniti vel corrupti distinctio rem, itaque fuga quidem. Fugit, eaque incidunt. Delectus officia beatae accusantium, nihil rerum quis quaerat voluptate doloribus cumque, ex saepe laboriosam repellendus molestias odit eos voluptas omnis at alias eius dicta? Amet sapiente laboriosam quod dolore impedit dolor libero reiciendis ad delectus, placeat totam velit.make your environment efficient and eco-friendly. Join us in shaping a cleaner, brighter tomorrow.
        </p>
    </div>
</section>

<!-- Gallery Section -->
<section class="gallery">
    <h2 class="section-title">Our Innovations</h2>
    <div class="gallery-grid">
        <div class="gallery-item">
            <img src="static/images/dam.jpg" alt="Dam">
            <div class="desc">Dams</div>
        </div>
        <div class="gallery-item">
            <img src="static/images/solar_panel.jpg" alt="Solar Panels">
            <div class="desc">Solar Panels</div>
        </div>
        <div class="gallery-item">
            <img src="static/images/wind-vane.jpg" alt="Wind Vane">
            <div class="desc">Wind Vane</div>
        </div>
        <div class="gallery-item">
            <img src="static/images/green-energy.jpg" alt="Futuristic Energy">
            <div class="desc">Futuristic Energy</div>
        </div>
    </div>
</section>

{% endblock %}
