{% extends "base.html" %}

{% block content %}
<div class="page_heading_text">
    <h1>What's going on in Rolsa? </h1>
</div>

<div class="news_gallery">

    <div class="news_item">
        <img src="{{ url_for('static', filename='images/dam.jpg') }}" alt="Dam">
    
        <div class="overlay"></div>
    
        <div class="news_text">
            <h2>Green energy</h2>
            <p>Green energy products currently on the market</p>
        </div>
    </div>
    
    
</div>

<div class="news_gallery">

    <div class="news_item">
        <img src="{{ url_for('static', filename='images/dam.jpg') }}" alt="Dam">
    
        <div class="overlay"></div>
    
        <div class="news_text">
            <h2>Carbon footprint</h2>
            <p>How to reduce your carbon footprint</p>
        </div>
    </div>
    
    
</div>


<div class="news_gallery">

    <div class="news_item">
        <img src="{{ url_for('static', filename='images/dam.jpg') }}" alt="Dam">
    
        <div class="overlay"></div>
    
        <div class="news_text">
            <h2>Dams</h2>
            <p>How hydroelectric systems shape sustainable energy</p>
        </div>
    </div>
    
    
</div>


<div class="news_gallery">

    <div class="news_item">
        <img src="{{ url_for('static', filename='images/dam.jpg') }}" alt="Dam">
    
        <div class="overlay"></div>
    
        <div class="news_text">
            <h2>Dams</h2>
            <p>How hydroelectric systems shape sustainable energy</p>
        </div>
    </div>
    
    
</div>

{% endblock %}